.stats {
  display: flex;
  gap: 3.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.social-link {
  text-decoration: none;
  color: inherit;
}

.social-link:hover .stat-icon {
  transform: scale(1.1);
  color: #e0e0e0;
}

.social-link:hover .stat-label {
  color: #e0e0e0;
}

.stat-icon {
  color: #bcbcbc;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.stat-value {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.stat-label {
  color: #bcbcbc;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  transition: color 0.3s ease;
}

@media (max-width: 700px) {
  .stats {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;
  }
  
  .stat-icon {
    font-size: 2rem;
  }
  
  .stat-value {
    font-size: 1.3rem;
  }
  .stat-label {
    font-size: 0.95rem;
  }
}

@media (max-width: 500px) {
  .stats {
    gap: 1.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  
  .stat-icon {
    font-size: 1.5rem;
  }
  
  .stat-value {
    font-size: 1.1rem;
  }
  .stat-label {
    font-size: 0.8rem;
  }
}